$shade-base: #2b2a30;
$color-accent: #90b690;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


html {
  scroll-padding: 5rem;
}

body {
  font-family: roboto;
  background-color: #201f24;
}

p {
  line-height: 28px;
  color: #e9e9e998;
  letter-spacing: 0.01em;
}


.mw-1000 {
  max-width: 800px;
}


.splash {
  opacity: 1;

  -webkit-mask-image: url('../img/splash.svg');
  mask-image: url('../img/splash.svg');
  mask-size: 0%;
  mask-repeat: no-repeat;
  mask-position: center;


}

.splash-top {
  opacity: 0;
  mask-image: url('../img/top-splash.svg');
  mask-size: 0%;
  mask-repeat: no-repeat;
  mask-position: top;

}

.splash-bottom {
  // display: none;
  // opacity: 0;
  mask-image: url('../img/bottom-splash.webp');
  mask-size: 0%;
  mask-repeat: no-repeat;
  mask-position: bottom;


}



.intro-holder {
  user-select: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000e1;
  backdrop-filter: blur(20px);
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: roboto;
    font-weight: 100;


    .intText {
      transform-origin: center;
    }

    .im {
      letter-spacing: 20px;
      opacity: 0;
      color: #ffffff;
      width: 0;
      overflow: hidden;
      transition: 1500ms;
      text-align: center;
      margin-right: 10px;
    }

    .designer {
      color: #ffffff00;
      width: 0;
      opacity: 0;
      overflow: hidden;
      transition: 1500ms;
      text-align: center;

    }

    .hi {
      opacity: 0;
      overflow: hidden;
      color: #ffffff;
      transition: 1500ms;
      width: 70px;
      text-align: center;
    }


    .letters {
      opacity: 0;
      color: #ffffff00;
      width: 0;
      overflow: hidden;
      transition: 1500ms;
      text-align: center;

    }


    .letteri {
      max-width: 50px;
    }



    // &:hover .im {
    //   width: 200px;
    //   color: #ffffff;
    // }

    // &:hover .letters {
    //   width: 80px;
    //   color: #ffffff;
    // }

    // &:hover .hi {
    //   width: 100px;
    // }






    // &:active .im {
    //   width: 200px;
    //   color: #ffffff;
    // }

    // &:active .letters {
    //   width: 0;
    //   color: #ffffff;
    // }

    // &:active .hi {
    //   width: 0;
    // }

    // &:active .designer {
    //   width: 80px;
    //   color: #ffffff;
    // }







  }


  .scroll-hint {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 40px;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff80;
  }



  .repeat-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 40px;
    right: 70px;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff80;

    button {
      background: none;
      border: none;
      transition: 500ms;

      &:hover {
        transform: rotate(360deg) scale(1.5);
      }
    }
  }

}



.navigation-bar {

  position: fixed;
  top: 0;
  inset-inline: 0;
  padding: 10vh 7rem;
  z-index: 5;
  color: white;
  font-weight: 100;
  background: linear-gradient(0deg, #00000000 0%, #00000075 100%);
  // border-bottom: solid rgba(255, 255, 255, 0.075) 0px;
  overflow-x: scroll;
  gap: 2rem;
  transition: 200ms;


  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .hamburger-menu {
    height: 0;
    overflow: hidden;
    transition: 500ms height;

    .nav-col {
      height: 100%;

      ul {
        transition: 500ms;
        opacity: 0;
        height: 100%;
        display: grid;
        // background: #000;
        justify-content: left;
        padding: 0;
        padding-block: 2rem;

        li {
          overflow: hidden;
          padding: 0 1rem;
          margin: 0;
          width: 100%;
          font-size: 1.5rem;

          a {
            color: white;
            text-decoration: none;
            transition: 200ms;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.466);

            &:hover {
              color: $color-accent;

            }
          }

        }
      }
    }
  }


  .hamburger-menu-extended {
    height: calc(100lvh - 65px);

    .nav-col {

      ul {
        opacity: 1;
      }
    }
  }

  // backdrop-filter: blur(0px) ;



  .nav-right {
    .icon-open {
      .icon {
        transform: rotate(-90deg) translateX(5px) !important;

        &::before {
          transform: rotate(45deg) translateY(-5px) translateX(7px) scaleX(0.8) !important;
        }

        &::after {
          transform: rotate(-45deg) translateY(5px) translateX(7px) scaleX(0.8) !important;
        }
      }
    }

    .hamburger-icon {
      height: 30px;
      width: 30px;
      cursor: pointer;




      .icon {


        transition: 300ms;
        display: flex;
        justify-content: center;
        height: 2px;
        width: 30px;
        border-radius: 1px;
        background-color: #fff;
        position: relative;


        &::before {
          content: '';
          background-color: #ffffff;
          transition: 300ms;
          position: absolute;
          height: 2px;
          width: 20px;
          top: -7px;
        }

        &::after {
          content: '';
          transition: 300ms;
          background-color: #ffffff;
          position: absolute;
          height: 2px;
          width: 20px;
          top: 7px;
        }



      }
    }
  }


  .nav-left {
    padding-block: 10px;
    padding-right: 1.3rem;
    font-size: 2rem;
    border-right: solid rgba(255, 255, 255, 0.034) 1px;

    .logo {
      padding: 0 10px;
      color: white;
      text-decoration: none;
      transition: 200ms;
      border-radius: 10px;

      &:hover {
        background-color: #ffffff33;
        transform: scale(1.1);
      }
    }
  }

  .nav-row {

    ul {
      font-size: 1.3rem;
      gap: 5rem;
      margin: 0;
      list-style-type: none;
      justify-content: space-around;
      height: 100%;

      a {
        text-decoration: none;
        color: white;
        position: relative;
        isolation: isolate;
        padding: 7px 15px;
        border-radius: 20px;
        transition: 200ms;



        &:hover {
          background-color: $color-accent;
          color: white;


        }
      }
    }
  }


}


.navigation-bar-hover {
  padding: 0vh 2rem;
  backdrop-filter: blur(10px);
  // border-bottom: solid rgba(255, 255, 255, 0.075) 1px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.726);

}


.navigation-bar-extended {
  background-color: rgba(0, 0, 0, 0.604);
  z-index: 20;
}

// header {


// }


.logo-holder {
  height: 100lvh;
  // 70lvh old
  display: flex;

  p,
  a,
  h1,
  h2,
  h3,
  h4 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.651);
    border-radius: 20px;
    letter-spacing: 0.01em;
  }

  .logo-section {


    backdrop-filter: blur(1px);
    height: 80%;
    width: 85%;
    // background-image: url('../img/bzg.jpg');
    background-size: cover;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.141);
    // border: solid rgb(119, 119, 119) 1px;
    // border-radius: 15px;

    .stl {
      color: $color-accent;
      isolation: isolate;
      position: relative;

    }

    .call-to-action {
      a {
        font-weight: 500;

        font-size: 1.2rem;
        text-align: center;
        min-width: 100px;
        color: rgba(255, 255, 255, 0.829);
        text-decoration: none;
        padding: 0.4em 1.5em;
        border: solid rgba(255, 255, 255, 0.747) 1px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.466);
        border-radius: 5px;
        // border-radius: 20px;
        transition: 150ms;
        outline: solid #ffffff31 0px;



        &:first-child {
          background-color: $color-accent;
          margin-right: 15px;

        }

        &:last-child {
          background-color: #00000018;
          backdrop-filter: blur(5px);
        }

        &:hover {
          outline: solid #ffffff31 5px;

        }
      }
    }

  }

}

.background-container {
  position: fixed;
  width: 100%;
  height: 100lvh;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  background: radial-gradient(#1d1d1d, #1b1b1b);
  // background-color: black;

  .background-dark {
    // display: none;
    position: absolute;
    z-index: 2;
    // background: radial-gradient(#161c20e5, #0f1316);
    background-image: url('../img/bg-blur.webp');
    background-size: cover;
    // background-position-y: -250px;
    filter: brightness(40%) saturate(60%);
    inset: 0 0 -500px 0;


  }

  .background-picture {

    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(80%) saturate(60%);
    background: rgb(61, 96, 122);
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.637), inset 0 0 50px rgb(0, 0, 0);
    // background-image: url('https://images.vexels.com/content/221367/preview/starry-night-sky-background-design-5d346b.png');
    // background-image: url('../img/bg.png');
    background-image: url('../img/bg.webp');
    background-position: bottom;
    background-size: cover
  }

}

// .logo {
//   filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.459));
//   height: 170px;
//   margin: -40px 0px;
//   object-fit: fill;
// }

main {
  // padding-top: 5vh;

  .body-container {


    background-color: #94949411;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: solid #ffffff1a 4px;
    box-shadow: -5px 5px 15px #00000086, 0 0 5px #00000050;
    overflow: hidden;
    margin-bottom: 150px;
    margin-top: -5lvh;
    // -30lvh old
    padding: 0;

    .page-header {
      // background-color: aqua;
      margin-top: -1px;
      position: relative;
      min-height: 75lvh;

      .header-left {
        // background-color: #fff;
        max-width: 700px;


      }



      h2 {
        // font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        line-height: 0.9em;
        letter-spacing: 2px;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.199);
        width: max-content;
        gap: 5px;
      }






      .header-bg {
        z-index: -1;
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, #ffffff00 70%, $shade-base 100%), radial-gradient(81.85% 113.46% at 50.1% -4.59%, #351bb300 1.04%, #2b2a3000 57.58%, $shade-base 100%);
        margin-bottom: 0px;
        background-position-y: bottom;
        padding: 0;
        height: 100%;
        width: 100%;



      }

    }


    .page-about {
      color: white;
      background: linear-gradient($shade-base, #201f24);
      width: 100%;
      margin: 0;
      // position: relative;

    }


  }

}

.cactus-frame {
  // background: radial-gradient(#ffffff, #bebebe);
  background-image: url('../img/cactus-bg.webp');
  outline: solid #ffffff8c 5px;
  background-size: 200%;
  // background-position-y: -300px;
  background-position-y: bottom;
  background-position-x: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);
  height: 250px;
  width: 90%;
  max-width: 450px;
  border-radius: 125px;
  display: flex;
  justify-content: center;
  margin: 50px;



  img {

    margin-top: -50px;
    margin-left: 200px;
    width: 170px;
    height: 260px;

  }
}

.main-container {
  z-index: 1;
  position: relative;
  margin-top: -250px;
  padding-top: 250px;

  color: white;


  .main-row {

    // text-align: justify;
    max-width: 1200px;


  }

}

.resume-text {

  &:last-child {
    text-align: left;

    ul {
      list-style-type: none;
    }

    .exp-name {
      color: #ffffff;
    }

    .exp-desc {
      color: #e9e9e998;
      font-weight: 300;
      font-size: small;
    }

    .exp-resp {
      ul {
        color: #000000bd;

        li {
          background-color: #e9e9e998;
          width: max-content;
          padding: 2px 10px;
          border-radius: 15px;
          font-size: small;
        }
      }
    }
  }
}


// .post-title {
//   // background-color: $shade-base;
//   z-index: 2;
//   pointer-events: none;
//   // width: auto;
//   // backdrop-filter: blur(5px);
//   width: 200px;
//   // transform: rotate(90deg) translate(60px , 30px);
//   // padding: 30px 0px;
//   transform-origin: left;
//   position: sticky;
//   top: -17px;
// }



.skill-slide {
  // background-color: white;
  position: relative;
  cursor: pointer;
  max-width: 900px;



  .slide-card {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 400px;
    // padding: 20px;
    border: solid rgba(255, 255, 255, 0.425) 1px;
    box-shadow: 0 0 5px black;
    background-color: #ffffff15;
    backdrop-filter: blur(20px);

    &:first-child {
      // width: 100px;
      border-radius: 15px 0 0 15px;
      justify-content: right;
      background: radial-gradient(rgb(37, 37, 46), rgb(50, 52, 65));
      transition: 350ms;


      &:hover {
        filter: brightness(120%);
        width: 200%;

        .left-pic {
          margin-right: 0px;
        }
      }
    }


    &:last-child {
      background: radial-gradient(white, rgb(155, 155, 155));
      border-radius: 0 15px 15px 0;
      justify-content: left;
      transition: 350ms;
      filter: brightness(80%);


      &:hover {
        filter: brightness(100%);
        width: 200%;

        .right-pic {
          margin-left: 0px;
        }

      }
    }


    .card-pic {
      width: 300px;
      transition: 350ms;
      transition-property: margin-right, margin-left;
      // position: absolute;
      // inset: 0 0 0 0;
    }

    .right-pic {
      margin-left: -150px;
      // justify-self: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../img/cactus-model-full.svg');

    }


    .left-pic {
      margin-right: -150px;
      // justify-self: right;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../img/cactus-model-lines.svg');


    }
  }


  .card-names {
    pointer-events: none;
    display: flex;
    justify-content: space-around;
    align-items: end;
    position: absolute;
    padding: 20px 20px;
    z-index: 3;
    width: 100%;
    height: 100%;
    // background-color: rgba(245, 222, 179, 0.171);

    span {
      background-color: rgba(0, 0, 0, 0.26);
      padding: 5px 10px;
      border-radius: 10px;
    }
  }




}




.slide-col {

  position: sticky;
  top: 15lvh;
  height: 100%;

}




.skill-item {
  .skill-icon {
    // background-color: #9ec0a3;

    filter: saturate(70%) brightness(120%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }

  .skill-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;



    .skill-level {

      .progress-border {
        background-color: #ffffff13;
        padding: 1px 2px;
        width: 100%;
        height: 10px;
        margin-top: 3px;
        display: flex;
        align-items: center;
        justify-content: start;
        border-radius: 5px;
        border: solid rgba(255, 255, 255, 0.034) 1px;

        .progress-bar {
          background-color: #ffffffa1;
          // width: 200px;
          height: 4px;
          border-radius: 2px;
        }


      }
    }
  }
}


.trait-list {
  font-weight: 300;

  li {
    background-color: #ffffff13;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.226) 1px;
    box-shadow: 0 0 10px black;
    // height: 150px;
    padding: 10px 20px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {

      // border: solid white 1px;

      object-fit: cover;
      border-radius: 50%;
      opacity: 70%;
    }

    .trait-name {
      font-weight: 500;
      opacity: 50%;

    }
  }
}





.portfolio-container {
  // background: #201f24;
  color: white;
  // border-top: solid #ffffff1a 4px;
  // box-shadow: -5px 5px 15px #00000086, 0 0 5px #00000050;
  // overflow: hidden;
  position: relative;
  isolation: isolate;
  // margin-bottom: 50px;
  // padding: 50px 30px;
  // height: 300lvh;


  .portfolio-frame {
    
    position: relative;
    isolation: isolate;
    // background-color: #ffffff63;
    height: 100lvh;

    .portfolio-holder {
      // backdrop-filter: blur(20px);
      // background-color: #ffffff05;
      // border-radius: 15px;
      // border: solid rgba(255, 255, 255, 0.212) 1px;
      // overflow: hidden;
      // position: sticky;
      // overflow: hidden;
      // background-color: rgba(206, 206, 206, 0.123);
      top: 100px;
      height: 85lvh;



    }
  }


  .thumbnail-bg{

    .thumbnail-container{
      $phone-border: #292929;
      height: 700px;
      width: 350px;
      border-radius: 25px;
      border: solid 5px $phone-border;
      background-color: $phone-border;
      border-block-width: 15px;
      position: relative;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
      // transform: perspective(2000px) rotateY(-10deg) rotateX(10deg);
      
      .thumbnail-holder{
        padding: 2rem;
        border-radius: 25px;
        background-color: #1a1a1a;
        inset: 0;
        position: absolute;
        overflow: hidden;
        
        .thumbnail{
          
          position: absolute;
          inset: 0;
          background: url('../img/portfolio/english-with-eli-mob.jpeg');
          background-size: cover;
          background-position: top;
        }
        
      }
      
    }
    
    
  }
  
}

  
  
  
  .contact {
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  color: white;
  position: fixed;
  inset: 0 0 0 0;
  background: #181818ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  z-index: 10;
}





@media only screen and (max-width: 1200px) {

  .navigation-bar {
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.411);
    // border-bottom: solid rgb(46, 46, 46) 1px;
    padding: 0rem 2rem;

  }

}


@media only screen and (min-width: 575px) {

  .navigation-bar {
    background: linear-gradient(0deg, #00000000 0%, #00000075 100%);
  }

}





@media only screen and (max-width: 575px) {


  .body-container {
    border-inline: none !important;
    border-radius: 0px !important;
  }

}


@media only screen and (max-width: 794px) {
  .slide-col {
    position: relative;
    margin-bottom: 50px;
    margin-top: 0;
  }


}